/* Valid CSS */
.good-component { color: red; }
.search-form > .input { border: 1px solid; }
._helper { text-align: center; }
.component.-variant { background: gray; }

/* Invalid CSS */
.component { color: red; }
.component .element { display: block; }
.Component-Name { color: blue; }
.helper { text-align: center; }